figure {
    padding: 0;
}

figure img,
figure figcaption {
    display: block;
}

figure img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

figure figcaption {
    font-size: 16px;
    padding: 10%;
}

figure figcaption a {
    text-decoration: inherit;
    color: inherit;
    display: inline;
}

figure figcaption a .date {
    color: #666;
    font-size: 0.75em;
}

figure figcaption a .title {
}

figure figcaption a .desc {
}

figure figcaption a .tags {
    margin-top: 10px;
}
