* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f2f2;
}

.block_content {
    margin: 0 20% 0 20%;
}

.main_page_header {
    background-color: black;
    color: white;
    text-align: center;
}

.main_page_header_title_bar {
    padding: 30px 0 10px 0;
    text-align: center;
}

.main_page_header_navigation_bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-content: center;
}

.main_page_header_navigation_bar a {
    flex-basis: 100%;
    padding: 10px;
    color: inherit;
    text-decoration: inherit;
    transition: all 0.3s;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main_page_header_navigation_bar a:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.main_page_header_navigation_bar a:active {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1200px) {
    .block_content {
        margin: 0;
    }
}